default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    exclude: .*\.toml$
    args: ["--toml", "pyproject.toml"]
    additional_dependencies:
      - tomli
