[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rdflib = ">=5.0.0"
linkml-runtime = ">=0.1.3"

[dev-packages]

jsonasobj = "2.0.2.dev4"
rdflib-jsonld = ">=0.5.0"
mkdocs = "*"

[pipenv]
allow_prereleases = true
