[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = "*"
linkml = ">= 1.2.0"
mkdocs = "*"
mkdocs-mermaid2-plugin = "*"

[dev-packages]
linkml = "*"
mkdocs = "*"

[pipenv]
