[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rdflib = ">=5.0.0"

[dev-packages]
linkml = ">=0.0.7"
rdflib-jsonld = ">=0.5.0"
mkdocs = "*"

[pipenv]
allow_prereleases = true
