name: Build and deploy documentation

# Controls when the action will run. Triggers the workflow on PR to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  github-pages:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0 # fetch all commits/branches so that mike works

      #----------------------------------------------
      #          install uv
      #----------------------------------------------
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        uses: actions/setup-python@v5.6.0
        id: setup-python
        with:
          python-version: "3.10"

      #----------------------------------------------
      #             install dependencies
      #----------------------------------------------
      - name: Install dependencies
        run: uv sync --all-groups

      - name: Configure git user
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      #----------------------------------------------
      #           generate markdown files
      #----------------------------------------------
      - name: Generate markdown docs from schema
        run: make gen-doc

      #----------------------------------------------
      #           deploy documentation
      #----------------------------------------------
      - name: Deploy generated docs
        run: |
          # generate HTML from markdown and put into dev version
          uv run mike deploy dev

          # ensure the main branch is available locally
          git fetch origin main
          # switch to gh-pages branch, copy over the latest 404.html from main
          git checkout --force gh-pages
          git checkout --force origin/main -- 404.html
          git commit -m "Add 404.html to root" || echo "No changes to 404.html to commit"

          # push changes to gh-page branch
          git push origin gh-pages
