name: Build and test linkml-model

env:
  UV_VERSION: "0.7.13"

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7.2.1
        with:
          version: ${{ env.UV_VERSION }}
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.13"
      - name: Check pyproject.toml and uv.lock
        run: uv lock --check
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  test:
    needs: quality-checks
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.13"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Ensure tags if not run from main repo
        if: github.repository != 'linkml/linkml-model'
        run: |
          git remote add upstream https://github.com/linkml/linkml-model
          git fetch upstream --tags
      - uses: astral-sh/setup-uv@v7.2.1
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Run tests
        run: uv run make test
