name: validate-yaml-syntax

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.2

      - name: Validate YAML file
        run: yamllint linkml_model/model/schema/*.yaml